.right{
    background-color:blue;
    width: 80px;
    height:200px;
  }
  
  .middle{
    background-color:white;
    width:80px;
    height:200px;
  }
  
  .left{
    background-color: red;
    width:80px;
    height:200px;
  }
  
  .flag{
    display: flex;
    padding: 20px;
  }

  .flag:hover {
    opacity: 1;
  }

  .top{
    background-color:black;
    width: 250px;
    height:60px;
  }
  
  .centre{
    background-color:#ff0000;
    width:250px;
    height:60px;
  }
  
  .bottom{
    background-color: #fc0;
    width:250px;
    height:60px;
  }
  
  .flag2{
    display: block;
    padding: 20px;
  }

